body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  max-width: 960px;
  width: 100%;
}


a.detail-user {
  padding: 10px;
  background: red;
  border-radius: 10px;
}

a.detail-user:hover {
  background: #e50d0d;
}

a.detail-user i {
  color: #fff;
}
